.student-info{
  border: solid white 20px;
  background-color: yellow;
  justify-content: space-between;
  padding: 10px;
}

#student-data {
  justify-content: space-around;
}

h1{
  text-align: center;
}